<head>
    <title>IET NITK</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<div class="w3-container w3-center">
    <h1>Something wrong happened</h1>
    <p>Please Inform us what happened</p>
    <form action="mailto:dev.ietnitk@gmail.com" method="post" enctype="text/plain">
        <input type="submit" class="w3-button w3-black" value="Report">
        <a href="/" class="w3-button w3-black">Login Page</a>
    </form>
</div>