<!DOCTYPE html>
<html>

<head>
	<title>IET NITK</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<%if(message != ""){%>
	<div class="w3-panel w3-blue w3-xlarge w3-center">
		<%=message%>
	</div>
	<%}%>
	
	<h1 class="w3-center w3-jumbo">IET NITK PRESENTS</h1>
	<h2 class="w3-center w3-xxlarge">PHOTOSHOP COMPETITION</h2>
	<div class="w3-container w3-center w3-margin w3-padding-64">
		<form action="user" method="POST">
			<input name="email" class="w3-input w3-margin w3-center w3-padding-large" type="email" placeholder="Email" style="max-width: 50em; display: inline;outline-color: black"  required/>
			<input name="passw" class="w3-input w3-margin w3-center w3-padding-large" type="password" placeholder="Password" style="max-width: 50em; display: inline; outline-color: black" required/>
			<br /><button class="w3-button w3-green w3-margin" style="outline:none;">Login</button>
		</form>
		<p class="w3-text-red w3-center w3-tiny">
			Use the password sent to your email
		</p>
	</div>
	<div class="w3-container w3-center">
		<a href="signup" class="w3-button w3-white" style="outline:none;">Click here to register !</a>
	</div>
</body>

</html>