<!DOCTYPE html>
<html>

<head>
	<title>IET NITK</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1 class="w3-center w3-jumbo">IET NITK PRESENTS</h1>
	<h2 class="w3-center w3-xxlarge">PHOTOSHOP COMPETITION REGISTRATION</h2>
	<div class="w3-container w3-center w3-margin w3-padding-64">
		<form action="signup" method="POST">
			<input name="email" class="w3-input w3-margin w3-center w3-padding-large" type="email" placeholder="Email" style="max-width: 50em; display: inline;outline-color: black" required />
			<br />
			<button class="w3-button w3-green w3-margin" style="outline:none;">Register</button>
		</form>
		<p class="w3-text-red w3-center w3-tiny">
			Once you click register, password will be sent to your email. If any queries or issues contact dev.ietnitk@gmail.com
		</p>
	</div>
	<div class="w3-container w3-center">
		<a href="/" class="w3-button w3-white" style="outline:none;">Return back to Login</a>
	</div>
</body>

</html>