<!DOCTYPE html>
<html>

<head>
    <title>IET NITK</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1 class="w3-center w3-jumbo">IET NITK PRESENTS</h1>
    <h2 class="w3-center w3-xxlarge">PHOTOSHOP COMPETITION</h2>
    <h3 class="w3-center w3-xlarge">Rules</h2>
    <ul>
        <li>Problem statement will be a movie plot (storyline), based on which, you will have to design a poster for
            that movie. You can use any non-copyrighted image you want from the internet. Top 3 posters will be the
            winners.</li>
        <li>You have to be an NITK student to participate in this event</li>
        <li>Competition is on __________________________________________</li>
        <li>Make sure you submit your image before the end time</li>
        <li>You can make any number of submissions. All of your submissions will be recorded but only the latest image will be displayed.</li>
        <li>Once you submit you'll be logged out. To again submit you'll have to login or you can redirect back. This is done to make sure to decrease the number of submissions per user.</li>
		<a href="https://rebrand.ly/ietnitkpsdwn" class="w3-button w3-gray w3-margin">Click here to download the following files to get started</a>
		<li class="w3-bold w3-large">For more help and queries <a href="mailto:dev.ietnitk@gmail.com" class="w3-button w3-green">dev.ietnitk@gmail.com</a></li>
    </ul>
    <div class="w3-row w3-margin">
        <div class="w3-col l6 m12 s12 w3-container w3-padding-64">
            <form action="/image" class="w3-margin" method="POST" enctype="multipart/form-data">
                <input type="file" name="imageFile" accept="image/*">
                <input type="text" name="id" value="<%=id%>" class="w3-hide"/>
                <input type="submit">
            </form>
        </div>
        <div class="w3-col l6 m12 s12 w3-center">
            <h1>Latest image</h1>
            <img src="/image/<%=id%>" width="400px" height="300px" />
        </div>
    </div>

</body>

</html>